*{margin: 0;padding: 0;}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: black;
}
.menu {
	background: #ffff;
	opacity: 0.8;
	font-weight: bold;
	transition: 0.4s;
	position: fixed;
	width: 100%;
	z-index: 5;
	border-bottom: 1px solid black;
}

.trai {
	padding-left: 2rem;
}

#img-360 {
	padding-top: 0.5rem;
	max-width: 100%;
	max-height: 100%;
	filter:brightness(120%);
}

.menu li {
	list-style-type: none;
	display: inline-block;
}

.phai {
	text-align: right;
	padding: 0.5rem 0.5rem;
}

.menu-link li {
	padding-right : 5rem;
	padding-top: 1rem;
	font-family: inherit;
}

.menu-link li a {
	color: black;
}
