<footer id="footer">

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div></div>
				<h5>Hệ thống cửa hàng</h5>
				<ul>
					<li>123 Cầu Giấy</li>
					<li>123 Hồ Tùng Mậu</li>
					<li>5 Xuân Thủy</li>
					<li>4 Phạm Văn Đồng</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5>Chính sách và quy định chung</h5>
				<ul>
					<li>Hướng dẫn mua hàng</li>
					<li>Hình thức thanh toán</li>
					<li>Quy định về bảo mật thông tin</li>
					<li>Chính sách và quy trình xử lý khiếu nại</li>
					<li>Chính sách bảo hành</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5>Địa chỉ</h5>
				<p>IFOOTBALL - WEB bóng đá hàng đậu Việt Nam</p>
				<ul>
					<li>Facebook: www.facebook.com/360boutique.hn</li>
					<li>Điện thoại: (024) 2 0219 555</li>
					<li>Hotline: 0973 285 886</li>
					<li>Email: 360boutique.vn@gmail.com</li>
					<li>Website: https://360boutique.vn/</li>
				</ul>

			</div>
		</div>
	</div>

</footer>