<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="${title}"></title>
<meta charset="UTF-8">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
	rel="stylesheet" type="text/css" />

<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" />

<link th:href="@{/jquery-ui/jquery-ui.css}" rel="stylesheet" />

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/jquery-ui/jquery-ui.js}"></script>
</head>
<body>

	<h2>ADD Pitch Booking</h2>

	<br />
	
	<div class="col-3"></div>
	<div class="container col-6">
		<h1>
			Pitch Booking Detail <span></span>
		</h1>
		<h1>Điền thông tin</h1>
		
		<div class="col-md-auto">
			<!-- th:action="@{/savePitchBooking}" -->
			<form action="#" th:action="@{/savePitchBooking}" th:object="${pitchBooking}"
				method="post">
				
				<!-- <input type="hidden" th:field="*{pitchBookingId}" th:value="${pitchBooking.getPitchBookingId()}" id="pitchBookingId"> -->
				<input type="hidden" th:value="${pitchId}" id="pitchId">
				<input type="hidden" th:value="${appUserId}" id="appUserId">
					
				<label for="note">Note : </label> 
				<input type="text" th:field="*{note}" id="note" placeholder="note">
					<span th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></span>
				<br>
				
				<label for="price">Ngày : </label>
				<input type="text" id="date" >
				<br>
				
				<label for="price">Khung giờ : </label>
				<select >
					<option value="NONE">----Select----</option>
					<option th:each="entry : ${timeMap.entrySet()}"
						th:value="${entry.key}" th:text="${entry.value}" th:selected="0"></option>
				</select>
				<br>
				
				<label for="price">Giá : </label>
				<input type="number" th:field="*{price}" id="price" placeholder="Giá">
					<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
					<div id="price">0.000</div> 
				<br>
				
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    				Open modal
  				</button>
				
			</form>
			<div class="modal modal-warning fade in"
				id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Xác nhận đặt sân</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">X</span>
							</button>
						</div>
						<div class="modal-body">
							<h3>bla bla</h3>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline pull-left"
								data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-success"
								id="submitPitchBooking">Create</button>

							<!-- <a class="btn btn-outline"
									th:href="@{/deletepitch?id={id}(id=${pitch.pitchId})}"><i
									class="fa fa-check"></i>&nbsp;Đặt sân bóng</a> -->

						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

<script type="text/javascript">

	$(function() {
		$("#date").datepicker({
			minDate : 0,
			maxDate : "+7D",
			dateFormat: 'yy-mm-dd',
		});
		$("#date").datepicker("setDate", new Date());
	});
	$(document).ready(function() {
		$("#submitPitchBooking").on("click", function() {
			var pitch = {
				pitchId: $('#pitchId').val(),
			};
			var user = {
				userId: $('#appUserId').val(),
			};
			var pitchBooking = {
				pitch: pitch,
				user: user,
				note: $('#note').val(),
				price: $('#price').val(),
			};
			var myData = {
				pitchBooking: pitchBooking,
				date: $('#date').val(),
				timeKey: $('#timeKey').val(),
			};
			console.log(myData);
			$.ajax({
				url: 'http://localhost:8080/pitchbooking/savePitchBooking',
				type: 'POST',
				data: JSON.stringify(myData),
				processData: false,
				contentType: "application/json",
				success: function(myData) {
					alert("in success ***");
					window.location.href = "/pitch";
				},
				error: function() {
					toastr.error('Có lỗi xảy ra . Xin vui lòng thử lại', 'Inconceivable!')
				}
			});
		});
	});
</script>
</body>

</html>